<header class="navbar-light fixed-top header-static bg-mode">

  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- Logo START -->
      <a class="navbar-brand" href="index-2.html">
        <img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
        <img class="dark-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      <!-- Main navbar START -->
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Nav Search START -->
        <!--  <div class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0">
          <div class="nav-item w-100">
            <form class="rounded position-relative">
              <input class="form-control ps-5 bg-light" type="search" placeholder="Search..." aria-label="Search">
              <button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="submit"><i class="bi bi-search fs-5"> </i></button>
            </form>
          </div>
        </div> -->
        <app-search></app-search>

        <!-- Nav Search END -->

        <ul class="navbar-nav navbar-nav-scroll ms-auto">


          <!-- Nav item 3 Post -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Acceuil</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">test </a>
            <ul class="dropdown-menu" aria-labelledby="postMenu">
              <li> <a class="dropdown-item" href="create-page.html">test</a></li>
              <li> <a class="dropdown-item" href="settings.html">test</a> </li>

            </ul>
          </li>

          <!-- Nav item 4 Mega menu -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/myprofile">Profile</a>
          </li>
        </ul>
      </div>
      <!-- Main navbar END -->

      <!-- Nav right START -->
      <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
        <li class="nav-item ms-2">
          <a class="nav-link icon-md btn btn-light p-0" routerLink="chat">
            <i class="bi bi-chat-left-text-fill fs-6"> </i>
          </a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link icon-md btn btn-light p-0" href="settings.html">
            <i class="bi bi-gear-fill fs-6"> </i>
          </a>
        </li>
        <li class="nav-item dropdown ms-2">
          <a class="nav-link icon-md btn btn-light p-0" href="#" id="notifDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <span class="badge-notif animation-blink" *ngIf="notification.length"></span>

            <i class="bi bi-bell-fill fs-6 " style="color:red" *ngIf="notification.length"> </i>
            <i class="bi bi-bell-fill fs-6 " *ngIf="!notification.length"> </i>
          </a>
          <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0"
            aria-labelledby="notifDropdown">
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="m-0">Notifications <span
                    class="badge bg-danger bg-opacity-10 text-danger ms-2">{{notification.length}} new</span></h6>

              </div>
              <div class="card-body p-0">
                <ul class="list-group list-group-flush list-unstyled p-2">
                  <!-- Notif item -->
                  <li *ngFor="let n of notification">
                    <div class="list-group-item list-group-item-action rounded badge-unread d-flex border-0 mb-1 p-3">
                      <div class="avatar text-center d-none d-sm-inline-block">
                        <img class="avatar-img rounded-circle"
                          src="{{this.userservice.host+'/social/api/profilphoto/'+n.user.id}}" alt="">
                      </div>
                      <div class="ms-sm-3">
                        <div class=" d-flex">
                          <p class="small mb-2"><b>{{n.user.nom}}</b> sent you a friend request.</p>
                          <p class="small ms-3 text-nowrap">{{n.createdDate | dateAsAgo}}</p>
                        </div>
                        <div class="d-flex">
                          <button class="btn btn-sm py-1 btn-primary me-2" (click)="acceptfriend(n,n.id)">Accept
                          </button>
                          <button class="btn btn-sm py-1 btn-danger-soft" (click)="deletefriend(n.id)">Delete </button>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-sm btn-primary-soft">See all incoming activity</a>
              </div>
            </div>
          </div>
        </li>
        <!-- Notification dropdown END -->

        <!--  <div *ngIf="userservice.isloggedIn" (onload)="ifconnected(userservice.loggedUser)">

        </div> -->
        <li class="nav-item ms-2 dropdown" *ngIf="userservice.isloggedIn">
          <a class="nav-link btn icon-md p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside"
            data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="avatar-img rounded-2" src="{{this.userservice.host+'/social/api/profilphoto/'+thisuser.id}}"
              alt="">
          </a>
          <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3"
            aria-labelledby="profileDropdown">
            <!-- Profile info -->
            <li class="px-3">
              <div class="d-flex align-items-center position-relative">
                <!-- Avatar -->


                <div class="avatar me-3">
                  <img class="avatar-img rounded-circle"
                    src="{{this.userservice.host+'/social/api/profilphoto/'+thisuser.id}}" alt="avatar">
                </div>
                <div>
                  <a class="h6 stretched-link" href="#">{{userservice.loggedUser}} </a>
                  <p class="small m-0">Développeur web {{thisuser.email}} </p>
                </div>
              </div>
              <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" routerLink="/myprofile">Mon profile
              </a>
            </li>
            <!-- Links -->
            <li><a class="dropdown-item" href="settings.html"><i class="bi bi-gear fa-fw me-2"></i>Parameter</a></li>

            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item bg-danger-soft-hover" (click)="onLogout()"><i
                  class="bi bi-power fa-fw me-2"></i>Deconnecté</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <!-- Dark mode switch START -->
                <li>
                  <div class="modeswitch-wrap" id="darkModeSwitch">
                    <div class="modeswitch-item">
                      <a class="modeswitch-icon" (click)="toggleDarkTheme()"></a>
                    </div>
                    <span>Dark mode</span>
                  </div>
                </li>

          </ul>
        </li>
        <!-- Profile START -->
        <li class="nav-item">
          <a class="nav-link" *ngIf="!userservice.isloggedIn" routerLink="inscrire">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!userservice.isloggedIn" routerLink="login">Login</a>
        </li>

      </ul>
      <!-- Nav right END -->
    </div>
  </nav>
  <!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->
<br> <br><br>
<!-- **************** MAIN CONTENT START **************** -->
<router-outlet></router-outlet>

<div class="d-none d-lg-block">
  <!-- Button -->
  <a class="icon-md btn btn-primary position-fixed end-0 bottom-0 me-5 mb-5" data-bs-toggle="offcanvas"
    href="#offcanvasChat" role="button" aria-controls="offcanvasChat">
    <i class="bi bi-chat-left-text-fill"></i>
  </a>
  <!-- Chat sidebar START -->
  <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasChat">
    <!-- Offcanvas header -->
    <div class="offcanvas-header d-flex justify-content-between">
      <h5 class="offcanvas-title">Messaging</h5>
      <div class="d-flex">
        <!-- New chat box open button -->
        <a routerLink="chat" class="btn btn-secondary-soft-hover py-1 px-2">
          <i class="bi bi-pencil-square"></i>
        </a>
        <!-- Chat action START -->
        <div class="dropdown">
          <a href="#" class="btn btn-secondary-soft-hover py-1 px-2" id="chatAction" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-three-dots"></i>
          </a>
          <!-- Chat action menu -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="chatAction">
            <li><a class="dropdown-item" href="#"> <i class="bi bi-check-square fa-fw pe-2"></i>Mark all as read</a>
            </li>
            <li><a class="dropdown-item" href="#"> <i class="bi bi-gear fa-fw pe-2"></i>Chat setting </a></li>
            <li><a class="dropdown-item" href="#"> <i class="bi bi-bell fa-fw pe-2"></i>Disable notifications</a></li>
            <li><a class="dropdown-item" href="#"> <i class="bi bi-volume-up-fill fa-fw pe-2"></i>Message sounds</a>
            </li>
            <li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block setting</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#"> <i class="bi bi-people fa-fw pe-2"></i>Create a group chat</a></li>
          </ul>
        </div>
        <!-- Chat action END -->

        <!-- Close  -->
        <a href="#" class="btn btn-secondary-soft-hover py-1 px-2" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </a>

      </div>
    </div>
    <!-- Offcanvas body START -->
    <div class="offcanvas-body pt-0 custom-scrollbar">
      <!-- Search contact START -->
      <form class="rounded position-relative">
        <input #nom class="form-control ps-5 bg-light" [(ngModel)]="searchTerm" name="searchTerm" type="search"
          placeholder="Search..." aria-label="Search">
        <button class="btn bg-transparent px-3 py-0 position-absolute top-50 start-0 translate-middle-y"
          type="submit"><i class="bi bi-search fs-5"> </i></button>
      </form>
      <!-- Search contact END -->
      <ul class="list-unstyled">
        <div *ngFor="let m of users | filter:searchTerm">
          <!-- Contact item -->
          <!--   <li class="mt-3 hstack gap-3 align-items-center position-relative toast-btn" data-target="#chatToast" *ngIf="userservice.loggedUser!=m.username"> -->
          <li class="mt-3 hstack gap-3 align-items-center position-relative toast-btn"
            (click)="goToChatmini(m.username)" (click)="toggleToast()">
            <!-- Avatar -->

            <div class="avatar status-online" *ngIf="m.connected==2 ">

              <img class="avatar-img rounded-circle" src="{{this.userservice.host+'/social/api/profilphoto/'+m.id}}"
                alt="">
            </div>

            <div class="avatar status-offline" *ngIf="m.connected==1 || m.connected==null">

              <img class="avatar-img rounded-circle" src="{{this.userservice.host+'/social/api/profilphoto/'+m.id}}"
                alt="">
            </div>

            <!-- Info -->
            <div class="overflow-hidden">
              <a class="h6 mb-0 stretched-link" *ngIf="userservice.loggedUser==m.username">You</a>
              <a class="h6 mb-0 stretched-link" *ngIf="userservice.loggedUser!=m.username">{{m.nom}}</a>
              <div class="small text-secondary text-truncate">message.</div>
            </div>
            <!-- Chat time -->
            <div class="small ms-auto text-nowrap" *ngIf="m.desconnecteAt "> {{m.desconnecteAt | dateAsAgo}} </div>
            <div class="small ms-auto text-nowrap" *ngIf="m.desconnecteAt==null "> Connected now </div>
          </li>
        </div>


        <!-- Button -->
        <li class="mt-3 d-grid">
          <a class="btn btn-primary-soft" routerLink="chat"> See all in messaging </a>
        </li>

      </ul>
    </div>
    <!-- Offcanvas body END -->
  </div>
  <!-- Chat sidebar END -->

  <!-- Chat END -->

  <!-- Chat mini -->


  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container toast-chat d-flex gap-3 align-items-end">

    
      <div id="chatToast show" [ngClass]="{'show': isShown}" class="toast show mb-0 bg-mode" role="alert" aria-live="assertive" aria-atomic="true"
        data-bs-autohide="false">
        <div class="toast-header bg-mode">
         
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex">
              <div class="flex-shrink-0 avatar me-2">
                <label *ngFor="let u of users">
                  <img class="avatar-img rounded-circle" src="{{this.userservice.host+'/social/api/profilphoto/'+u.id}}" alt=""
                    *ngIf="u.username==secondUserName">
                </label>
              </div>
              <div class="flex-grow-1" *ngIf="secondUserName!=userservice.loggedUser">
                <h6 class="mb-0 mt-1">{{secondUserName}}</h6>
                <div class="small text-secondary"><i class="fa-solid fa-circle text-success me-1"></i>Online</div>
              </div>

              <div class="flex-grow-1" *ngIf="secondUserName==userservice.loggedUser">
                <h6 class="mb-0 mt-1">{{firstUserName}}</h6>
                <div class="small text-secondary"><i class="fa-solid fa-circle text-success me-1"></i>Online</div>
              </div>

            </div>
            <div class="d-flex">
          
              <a class="btn btn-secondary-soft-hover py-1 px-2" data-bs-toggle="collapse" href="#collapseChat"
                aria-expanded="false" aria-controls="collapseChat"><i class="bi bi-dash-lg"></i></a>
              <button class="btn btn-secondary-soft-hover py-1 px-2" data-bs-dismiss="toast" aria-label="Close"><i
                  class="fa-solid fa-xmark"></i></button>
            </div>
          </div>
      

        </div>

        <div class="toast-body collapse show" id="collapseChat">
      
          <ng-scrollbar #scrollbar class="chat-conversation-content custom-scrollbar h-200px">
         
            <div class="text-center small my-2">Jul 16, 2022, 06:15 am</div>
         

            <div *ngFor="let msg of sortData()">
              <div class="d-flex mb-1" *ngIf="msg.senderEmail!=userservice.loggedUser">
                <div class="flex-shrink-0 avatar avatar-xs me-2">
                        <label *ngFor="let u of users">
                          <img class="avatar-img rounded-circle"
                            src="{{this.userservice.host+'/social/api/profilphoto/'+u.id}}" alt=""
                            *ngIf="u.username==secondUserName">
                        </label>
                </div>
                <div class="flex-grow-1">
                  <div class="w-100">
                    <div class="d-flex flex-column align-items-start">
                      <div class="bg-light text-secondary p-2 px-3 rounded-2">{{msg.replymessage}}</div>
                      <div class="small my-2">{{msg.time.substring(11,16)}}</div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="d-flex justify-content-end text-end mb-1" *ngIf="msg.senderEmail==userservice.loggedUser">
                <div class="w-100">
                  <div class="d-flex flex-column align-items-end">
                    <div class="bg-primary text-white p-2 px-3 rounded-2">{{msg.replymessage}}</div>
                  </div>
                </div>
              </div>
            </div>


          
          </ng-scrollbar>
       
          <form [formGroup]="chatForm" class="mt-2">
        
            <textarea class="form-control mb-sm-0 mb-3" data-autoresize placeholder="Type a message"
                            rows="1"  formControlName="replymessage" (keyup.enter)="sendMessage()" [(ngModel)]="message"></textarea>
         
              <emoji-mart class="emoji-mart" size="16" [set]="set" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)"
                title="Pick your emoji…"></emoji-mart>
            <div class="d-sm-flex align-items-end mt-2">
              <button class="btn btn-sm btn-danger-soft me-2" (click)="toggleEmojiPicker()"><i class="fa-solid fa-face-smile fs-6"></i></button>
             
              <button class="btn btn-sm btn-primary ms-auto" (click)="sendMessage()"> Send </button>
            </div>
          </form>
      
        </div>
      </div>
   



    </div>

  </div>


</div>
